html, body {
	background: linear-gradient(to bottom, #87ceeb, #b0e0e6, #dff9fb);	
	height: calc(100vh - 1px);
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.sun {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, white, yellow, lightyellow);
    border-radius: 50%;
    box-shadow: 0 0 30px yellow;
    z-index: 1;
}

.clouds {
	overflow: hidden;
    position: absolute;
	top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Las nubes no interfieren con la interacción del usuario */
}

.cloud {
    position: absolute;
    width: var(--size);
    height: auto;
    top: var(--top);
    left: var(--start); /* Posición inicial fuera de la pantalla */
	animation: moveClouds var(--speed) linear infinite;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0) rotate(var(--rotation));
	}
    100% {
        transform: translateX(100vw) rotate(var(--rotation)); /* Mueve las nubes más allá del ancho visible */
	}
}

.cloud.paused {
    animation-play-state: paused;
}

.strength-game-wrapper {
	position: absolute;
	width: 100%;
	bottom: 62px;
	z-index: 2;	
}
.strength-game {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background:url("/img/mountains.png") repeat-x left bottom transparent;
}

.score-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #8B4513;
    background-image: repeating-linear-gradient(
	45deg,
	#8B4513 0px,
	#8B4513 10px,
	#A0522D 10px,
	#A0522D 20px
    );	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	padding: 2rem;
    color: #ffd700;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Sombra exterior suave */
    cursor: pointer;	
	user-select: none;
}

.score-circle i {
	font-size: 2.5em;
	color: #47402a;
    opacity: 0.4;
    mix-blend-mode: multiply;
}

.scale-wrapper {
	position: relative;
	width: 50px;
    height: 47vh;
	background: #8B4513;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    background-image: repeating-linear-gradient(
	45deg,
	#8B4513 0px,
	#8B4513 10px,
	#A0522D 10px,
	#A0522D 20px
    );	
}
.scale-container {
	position: relative;
	width: 100%; height: 100%;
}

.scale {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; height: 100%;
	color: white;
	font-size: 14px;
	font-weight: bold;
    background: linear-gradient(to top, 
      #00ff00 0%,     /* Color para el valor 1 */
      #7fff00 10%,    /* Color para el valor 2 */
      #bfff00 20%,    /* Color para el valor 3 */
      #ffff00 30%,    /* Color para el valor 4 */
      #ffbf00 40%,    /* Color para el valor 5 */
      #ff8000 50%,    /* Color para el valor 6 */
      #ff4000 60%,    /* Color para el valor 7 */
      #ff0000 70%,    /* Color para el valor 8 */
      #d90000 80%,    /* Color para el valor 9 */
      #b20000 90%     /* Color para el valor 10 */
    );
	z-index: 0;
}

#scale-cover {
	position: relative;
    text-align: center;
    align-content: end;	
	height: 100%;
	background: #ffecb8;
	z-index: 1;
	transition: height 0.3s ease;
}

#score {
    bottom: 12px;
    position: relative;
    background-color: #007bff;
    color: white;
    padding-top: 2px;
	width: 100%;
	display: block;
    font-weight: bold;
	font-size: .8em;
}

#score::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #007bff;
}

@keyframes bounce {
    0% {
        transform: scale(0.8);
	}
    50% {
        transform: scale(1.2);
	}
    100% {
        transform: scale(1);
	}
}

.number-animate {
    animation: bounce 0.6s ease-out;
	transform-origin: center;
}

.button-wrapper {
	background: #723600;
	padding: 4px;
	border-radius: 50%;
}
.button-wrapper.scale-top {
	margin-bottom: -10px;
	border: 10px inset #c27a47;
	z-index: 1;
}

.button-wrapper.scale-bottom {
	margin-top: -10px;	
}

.pedestal-top {
    position: relative;
    width: 100px;
    height: 15px;
    background: #A0522D;
    border-radius: 10px;
}

.pedestal {
    background: #8B4513; /* Marrón */
    background-image: repeating-linear-gradient(
	45deg,
	#8B4513 0px,
	#8B4513 10px,
	#A0522D 10px,
	#A0522D 20px
    );
    border: 10px inset #c27a47;
	border-bottom: 0;
    border-radius: 5px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 12px 30px;
    box-shadow:	inset 0 0 10px rgba(0, 0, 0, 0.3), /* Sombra general interna */
	0 5px 10px rgba(0, 0, 0, 0.5); /* Sombra externa */
	z-index: 1;
}

.ground {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:2;
	width: 100%;
	height: 104px;
	min-height:104px;
	/*background:url("/img/ground2.png") repeat-x 100px 18px transparent;*/
	background:url("/img/ground.png") repeat-x 0 0 transparent;
}

#start-btn {
    position: relative;
	width: 90px;
	height: 90px;
    font: bold 1.2em Arial;
    color: #fff;
    background: linear-gradient(to top, #f00 50%, #ff6666 50%); /* Gradiente para simular el reflejo */
    border-radius: 50%;
    box-shadow: inset 0 -5px 20px rgba(0,0,0,0.5), inset 0 15px 20px rgba(255,255,255,0.5), /* Sombras internas */
	0 0 10px rgba(0,0,0,0.3); /* Sombra exterior suave */
    cursor: pointer;
    transition: all 0.1s ease;
	border: 6px solid #9a0404;
	z-index: 3;
}

#start-btn:hover {
    transform: scale(1.05); /* Ligero aumento al pasar el mouse */
}

#start-btn:active {
    transform: scale(0.95); /* Reducir ligeramente para simular presión */
    box-shadow: 
	inset 0 0px 25px rgba(0, 0, 0, 0.7	), /* Más intenso hacia adentro */
	inset 0 10px 25px rgba(255, 255, 255, 0.3); /* Más claro */
	background: linear-gradient(to top, #f00 50%, #ff6666 50%);    
}